{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ main.name}}</title>
    <!-- Google font size -->
    <link href="https://fonts.googleapis.com/css?family={{ main.font_style_navigation_bar}}" rel='stylesheet'>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'festival/css/bootstrap.css' %}" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="{% static 'festival/css/event.css' %}" rel="stylesheet">


    <!-- Custom fonts for this template -->
    <link href="{% static 'festival/css/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">


    <style type="text/css">


    </style>

</head>

<body>

    <!-- Page Content -->

    <div class="container-fluid">
        {% for date in dates %}
        <div class="row">
                {{ date }}
                    {% for event in calendare.events %}
                        {% if event.date == date %}
                    <div class="col-lg-6">
                        <a id="link" href={{ event.https }}>
                            <img class="img-fluid " src=/static/festival/media/{{ event.image }}
                                 alt=/static/festival/media/{{ event.image }} class="img-responsive">
                        </a>
                    </div><!-- /.col-lg-6 -->

                    {% endfor %}
                {% endfor %}
            </div><!-- /.row -->
        </div><!-- /.down -->
    </div>


    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{% static 'festival/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'festival/js/popper.js' %}"></script>
    <script type="text/javascript" src="{% static 'festival/js/bootstrap.js' %}"></script>
    <!-- make the page go down smoothly -->
    <script type="text/javascript" src="{% static 'festival/js/smoothHref.js' %}"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });





































    </script>

</body>

</html>
