{% extends "base.html" %}

{% block content-wrapper %}

        <div class="container-fluid">
            <div class="up">
                <div class="row">
                    <div class="col ">
                        <a id="menu-toggle" href="#">
                            <div class="   menu-btn fadeIn">
                                ▼ MENU *

                            </div>
                            <div class="  menu-btn-2 fadeIn">
                                ▼ MENU *

                            </div>

                        </a>

                        <a href="#down" class="btn btn-circle page-scroll fadeIn">
                            <i class="fa fa-angle-double-down "></i>
                        </a>

                        {% if main.video_link %}
                        <div class="embed-responsive embed-responsive-4by3">

                            <iframe src={{main.video_link }}
                                    style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                                    allowTransparency="true" allowFullScreen="true"></iframe>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>

            <div id="down" class="down fadeInUpBig">
                <div class="row">
                    {% for card in cards.all %}
                    <div class="col-lg-6">
                        <a id="link" href={{ card.https }}>
                            <img class="img-fluid " src=/static/festival/media/{{ card.image }}
                                 alt=/static/festival/media/{{ card.image }} class="img-responsive">
                        </a>
                    </div><!-- /.col-lg-6 -->

                    {% endfor %}
                </div><!-- /.row -->
            </div><!-- /.down -->
        </div>

{% endblock %}
