{% extends "base.html" %}

{% block css %}

@media only screen and (min-width: 40.063em) {

  .btn-circle {
    margin-top: 40%;
    left:48%;
    position:absolute;
    font-size: 26px;
    z-index: 1000;
    width: 3.5rem;
    height: 3.5rem;

    border-color: {{ main.color_2 }}!important;
    color: {{ main.color_2 }};
    border: 3px solid white;
    border-radius: 100% !important;
    background: transparent; }

  .btn-circle:focus, .btn-circle:hover {
    border-color: {{ main.color_highlight }}!important;
    color: {{ main.color_highlight }};
    outline: none;
    background: rgba(255, 255, 255, 0.1);
    }
}

{% endblock %}




{% block content-wrapper %}

            <div class="up">
                <div class="row">
                    <div class="col ">
                        <a id="menu-toggle" href="#">
                            <div class="   menu-btn fadeIn">
                                ▼ MENU *

                            </div>
                            <div class="  menu-btn-2 fadeIn">
                                ▼ MENU *

                            </div>

                        </a>

                        <a href="#down" class="btn btn-circle page-scroll fadeIn">
                            <i class="fa fa-angle-double-down "></i>
                        </a>

                        {% if main.video_link %}
                        <div class="embed-responsive embed-responsive-4by3">

                            <iframe src={{main.video_link }}
                                    style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                                    allowTransparency="true" allowFullScreen="true"></iframe>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>

            <div id="down" class="down fadeInUpBig">
                <div class="row">
                    {% for card in cards.all %}
                    <div class="col-lg-6">
                        <a id="link" href={{ card.https }}>
                            <img class="img-fluid " src=/static/festival/media/{{ card.image }}
                                 alt=/static/festival/media/{{ card.image }} class="img-responsive">
                        </a>
                    </div><!-- /.col-lg-6 -->

                    {% endfor %}
                </div><!-- /.row -->
            </div><!-- /.down -->

{% endblock %}
