{% extends "page.html" %}


{% block content %}
        <div class="row">
            {% for folio in folio.all %}
                <div class="col-md-6 portfolio-item">
                    {{folio.name}}
                    <a href={{ folio.link }}>
                        <img class="img-responsive " src=/static/festival/media/{{ folio.image }}>
                    </a>
                    <p> {{folio.text}}
                </div>
            {% endfor %}
            <hr>
        </div>
        <hr>
{% endblock %}

