{% extends "page.html" %}




{% block page-css %}

.portfolio-item {
  margin-bottom: 30px;
}

{% endblock %}




{% block content %}
        <div class="row">
            {% for folio in folio.all %}
             <div class="col-lg-6 portfolio-item">
              <div class="card h-100">
                <a target="_blank" href="{{folio.link}}"><img class="card-img-top" src=/static/festival/media/{{ folio.image }} alt=""></a>
                <div class="card-body">
                  <h4 class="card-title text-left">
                    {{folio.name}}
                  </h4>
                  <p class="card-text text-left">{{folio.text}}</p>
                </div>
              </div>
            </div>
            {% endfor %}
        </div>
{% endblock %}

